<div class="pull-right">
    {% if logged_in_status %}
        <span class="hidden-xs">
            <img src="{{ logged_in_data.contents.picture }}" height="45" />
            {{ logged_in_data.contents.name }}
            <a href="{{ path('logout') }}">Logout?</a>
        </span>
        <span class="visible-xs">
            <img src="{{ logged_in_data.contents.picture }}" height="45" />
        </span>
    {% else  %}

        <form  method="post" action="{{ path('login') }}">
            <span class="hidden-xs">
                <input type="image" src="{{ asset('images/btn_google_signin_dark_focus_web.png') }}" />
            </span>
            <span class="visible-xs">
                <input type="image" src="{{ asset('images/btn_google_dark_focus_ios.svg') }}" />
            </span>
        </form>

    {% endif %}
</div>
